.area {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: var(--area-port-largura);
  height: var(--area-port-altura);
}

.estrutura {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  border-left: 5px solid rgb(31, 27, 27);
  border-top: 5px solid rgb(31, 27, 27);
  border-right: 5px solid rgb(31, 27, 27);
  width: 90%;
  box-shadow: 0px -6px 11px 0px #444444;
}

.sempresente {
  background-image: url('/ue.webp');
}

.compresente {
  background-image: url("/fogos.gif");
}

.estruturabackground {
  background-color: #0005;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

.porta { 
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background-image: url('/parede.jpg') ;
  background-repeat: repeat; 
  background-position: center;
  background-color: chocolate;
  padding: 15px;
}

.numero {
  font-size: 3rem;
}

.chao {
  width: 100%;
  height: 10px;
  background-color: #ddd;
}

.macaneta {
  align-self: flex-start;
  position: absolute;
  top: calc(0.45 * var(--area-port-altura));
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #c9c1c1;
}

.selecionada {
  border-left: 5px solid rgba(39, 223, 177);
  border-top: 5px solid rgba(39, 223, 177);
  border-right: 5px solid rgba(39, 223, 177);
}

.selecionada .numero {
  color: rgba(39, 223, 177)
}

.selecionada .macaneta {
  background-color: rgba(39, 223, 177);
}